
<%# app/views/records/index.html.erb %>
<div class= "container">
  <%= react_component( 'JobsBox', jobs: @jobs) %>
</div>

<!-- Hey!

Thanks for taking the time to review my application. I actually wrote a script to
automatically apply to your job because it looks like it's a #{good|great|excellent}
fit for my skills - my matching algorithm actually said there is #{percent}% chance
you'd be interested in interviewing me. You can check out the match profile I created
for your job posting here: #{url_for_analysis}

I'd really love the opportunity to interview at #{company_name} for the open #{job_title} position.
Thanks again. You can reach me at #{phone_number} if you'd like to chat :smile:

P.S. if you're interested in how my bot is actually handling applications for me,
you can check out the source code that applied on github: #{link_to_github_for_your_script}. -->
