<%# app/views/records/index.html.erb %>
<div class= "container">
  <%= react_component( 'JobsBox', jobs: @jobs) %>
</div>

<!-- <%= radio_button_tag(:title, "job") %> -->
<form method="get" action="search" class="button_to">
  <input value="Search" type="submit" />
</form>
<form method="get" action="jobs/match" class="button_to">
  <input value="Match Jobs" type="submit" />
</form>

<%= button_to "Delete", {:controller => :jobs,
      :action => 'destroy', :id => current_user.id }, :method => :delete %>
