<button type="button" action='search'>Search Jobs</button>
<%= button_to "Search Jobs", action: "search", type: "button" %>
  <form method="get" action="search" class="button_to">
    <input value="Search" type="submit" />
  </form>

<%= @result %>
