<div class= "container">
  <%= react_component( 'CoverPage', job: @job, user: @user) %>
</div>

<script>
window.onload = function start_count() {

  var bar = new ProgressBar.SemiCircle(progressbar, {
    strokeWidth: 6,
    color: '#FFEA82',
    trailColor: '#eee',
    trailWidth: 5,
    easing: 'easeIn',
    duration: 4000,
    svgStyle: null,
    text: {
      value: '',
      alignToBottom: true
    },
    from: { color: '#ffff00 ' },
    to: { color: '#00ff00' },
    step: function step(state, bar) {
      bar.path.setAttribute('stroke', state.color);
      var value = Math.round(bar.value() * 100);
      if (value === 0) {
        bar.setText('');
      } else {
        bar.setText(value);
      }

      bar.text.style.color = state.color;
    }
  });

  bar.text.style.fontFamily = '"Ubuntu", Helvetica, sans-serif';
  bar.text.style.fontSize = '2.5em';

  bar.animate("<%= @job.score/100 %>");
  var numAnim = new CountUp("number-lines", 0, "<%= @user.number_of_lines %>", 0, 4);
  window.setTimeout(numAnim.start, 2000)
  var numAnimtoo = new CountUp("number-projects", 0, "<%= @user.number_of_projects %>", 0, 4);
  window.setTimeout(numAnimtoo.start, 2000)
}
</script>
